@import url('https://rsms.me/inter/inter-ui.css');

.container {
	padding: 5vh 0;
}

.container, .text {
	font-family: 'Inter UI', sans-serif;
	font-size: 1.8rem;
}

.counties {
  fill: none;
  stroke: #fff;
  stroke-width: 0.2px;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

svg {
	margin: 0 auto;
	display: block;
	position: relative;
	/*border: 1px solid;*/
	padding-bottom: 20vh;
}

g.station {
	cursor: pointer;
	stroke: #000;
}


#controls {
	width: auto;
	margin: 0 auto;
	font-family: 'Inter UI', sans-serif;
	font-size: 1.4rem;
	/*border: 1px solid;*/
	text-align: center;
}

#hovering, #playing {
	font-size: 1.4rem;
	z-index: 1;
	float: right;
	height: 1vh;
}

.modeLive, .modeL, .modeFAS{
	cursor: pointer;
	text-align: center;
	margin-right: 0.6vw;
	position: relative;
	display: inline-block;
}
